# MongoDB Atlas Configuration
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=gamc_datos

# JWT Configuration
SECRET_KEY=tu_clave_secreta_super_segura_cambiala_en_produccion_123456
ALGORITHM=HS256 
ACCESS_TOKEN_EXPIRE_MINUTES=60

# PostgreSQL (Opcional)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=gamc_db

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000